/dts-v1/;
/plugin/;

/ {
    compatible = "xunlong,orangepi-zero2", "allwinner,sun50i-h616";
    fragment@2 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            display@1 {
                status = "okay";
                compatible = "sitronix,st7789v";
                reg = <1>;
                bgr;
                fps = <30>;
                buswidth = <8>;
                spi-max-frequency = <40000000>; // 40MHz
                reset-gpios = <&pio 2 9 1>;  // PC9
                dc-gpios = <&pio 2 6 0>;     // PC6
                led-gpios = <&pio 2 5 0>;    // PC5
                spi-cpol;
                spi-cpha;
            };
        };
    };
};